[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
flask = "*"
schematics = "*"
structlog = "*"
requests = "*"
rq = "==0.12.0"
hiredis = "==0.2.0"
gunicorn = "*"
datadog = "*"
"boto3" = "*"
kin-sdk = "==2.2.3"
redis = "==2.10.6"
