[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
ipython = "*"

[packages]
schematics = "*"
structlog = "*"
datadog = "*"
"boto3" = "*"
kin-sdk = "==2.4.2"
aioredis = "==1.2.0"
sanic = "==19.3.1"
aioredis-lock = "==0.0.1"
