[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
flask = "*"
schematics = "*"
structlog = "*"
requests = "*"
rq = "*"
hiredis = "*"
gunicorn = "*"
datadog = "*"
"boto3" = "*"
kin-sdk = "==2.1.5"
